/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-33fqa6u5m5] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-33fqa6u5m5] {
    flex: 1;
}

.sidebar[b-33fqa6u5m5] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-33fqa6u5m5] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-33fqa6u5m5]  a, .top-row[b-33fqa6u5m5]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-33fqa6u5m5]  a:hover, .top-row[b-33fqa6u5m5]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-33fqa6u5m5]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-33fqa6u5m5] {
        justify-content: space-between;
    }

    .top-row[b-33fqa6u5m5]  a, .top-row[b-33fqa6u5m5]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-33fqa6u5m5] {
        flex-direction: row;
    }

    .sidebar[b-33fqa6u5m5] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-33fqa6u5m5] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-33fqa6u5m5]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-33fqa6u5m5], article[b-33fqa6u5m5] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavigationBar.razor.rz.scp.css */
@font-face{
	font-family: MyFont;
	src:"/Font/Vermin.ttf/";
}

#topBar[b-4j2cg17jt0] {
	font-family: MyFont;
	text-align:center;
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-f8bk9m3yc7] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-f8bk9m3yc7] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-f8bk9m3yc7] {
    font-size: 1.1rem;
}

.bi[b-f8bk9m3yc7] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-f8bk9m3yc7] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-f8bk9m3yc7] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-f8bk9m3yc7] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-f8bk9m3yc7] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-f8bk9m3yc7] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-f8bk9m3yc7] {
        padding-bottom: 1rem;
    }

    .nav-item[b-f8bk9m3yc7]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-f8bk9m3yc7]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-f8bk9m3yc7]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-f8bk9m3yc7] {
        display: none;
    }

    .collapse[b-f8bk9m3yc7] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-f8bk9m3yc7] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/OtherPages/LoadingPage.razor.rz.scp.css */
.container[b-b76inoke4d] {
    height: 100vh;
    width: 100vw;
    font-family: Helvetica;
}

.loader[b-b76inoke4d] {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loader--dot[b-b76inoke4d] {
    animation-name: loader-b-b76inoke4d;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
}

    .loader--dot:first-child[b-b76inoke4d] {
        background-color: #8cc759;
        animation-delay: 0.5s;
    }

    .loader--dot:nth-child(2)[b-b76inoke4d] {
        background-color: #8c6daf;
        animation-delay: 0.4s;
    }

    .loader--dot:nth-child(3)[b-b76inoke4d] {
        background-color: #ef5d74;
        animation-delay: 0.3s;
    }

    .loader--dot:nth-child(4)[b-b76inoke4d] {
        background-color: #f9a74b;
        animation-delay: 0.2s;
    }

    .loader--dot:nth-child(5)[b-b76inoke4d] {
        background-color: #60beeb;
        animation-delay: 0.1s;
    }

    .loader--dot:nth-child(6)[b-b76inoke4d] {
        background-color: #fbef5a;
        animation-delay: 0s;
    }

.loader--text[b-b76inoke4d] {
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto;
}

    .loader--text[b-b76inoke4d]:after {
        content: "Loading";
        font-weight: bold;
        animation-name: loading-text-b-b76inoke4d;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

@keyframes loader-b-b76inoke4d {
    15% {
        transform: translateX(0);
    }

    45% {
        transform: translateX(230px);
    }

    65% {
        transform: translateX(230px);
    }

    95% {
        transform: translateX(0);
    }
}

@keyframes loading-text-b-b76inoke4d {
    0% {
        content: "Loading";
    }

    25% {
        content: "Loading.";
    }

    50% {
        content: "Loading..";
    }

    75% {
        content: "Loading...";
    }
}
/* /Pages/ProductPages/ProductsListPage.razor.rz.scp.css */
.featured[b-f3huovletr]{
    padding-top:80px;
    padding-bottom:40px;
}

.featured__controls[b-f3huovletr]{
    text-align:center;
    margin-bottom:50px;
}

.featured__controls ul li[b-f3huovletr]{
    list-style:none;
    font-size:18px;
    color:#1c1c1c;
    display:inline-block;
    margin-right:0;
    position:relative;
    left:0;
    cursor:pointer;
}

.featured__controls ul li.active[b-f3huovletr]:after{
    opacity:1;
}

.featured__controls ul li[b-f3huovletr]:after{
    position:absolute;
    left:0;
    bottom:-2px;
    width:100%;
    height:2px;
    background:#7fad39;
    content:"";
    opacity:0;
}

.featured__controls ul li:last-child[b-f3huovletr]{
    margin-right:0;
}

.featured__item[b-f3huovletr]{
    margin-bottom:50px;
}

.featured__item:hover .featured__item__pic .featured__item__pic__hover[b-f3huovletr]{
    bottom : 0px;
}

.featured__item__pic[b-f3huovletr] {
    height:200px;
    position:relative;
    overflow:hidden;
    background-position: center center;
}

.featured__item__pic__hover[b-f3huovletr]{
    position:absolute;
    left:-40px;
    bottom:-60px;
    width:100%;
    text-align:center;
    -webkit-transition: all, 0.5s;
    -moz-transition:all,0.5s;
    -ms-transition:all,0.5s;
    -o-transition:all,0.5s;
    transition:all,0.5s;
}

.featured__item__pic__hover li[b-f3huovletr]{
    list-style:none;
    display:inline-block;
    margin-right:0px;
}
.featured__item__pic__hover li:last-child[b-f3huovletr]{
    margin-top: 0;
}

    .featured__item__pic__hover li:hover a[b-f3huovletr] {
        background: #7fad39;
        border-color: #7fad39;
    }

    .featured__item__pic__hover li:hover a i[b-f3huovletr]{
        color:#ffffff;
        transform: rotate(360deg);
    }

    .featured__item__pic__hover li a[b-f3huovletr] {
        font-size: 16px;
        color: #1c1c1c;
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        border: 1px solid #ebebeb;
        background: #ffffff;
        display: block;
        border-radius: 50%;
        -webkit-transition: all, 0.5s;
        -moz-transition: all,0.5s;
        -ms-transition: all,0.5s;
        -o-transition: all,0.5s;
        transition: all,0.5s;
    }
        .featured__item__pic__hover li a i[b-f3huovletr] {
            position: relative;
            transform: rotate(0);
            -webkit-transition: all, 0.3s;
            -moz-transition: all,0.3s;
            -ms-transition: all,0.3s;
            -o-transition: all,0.3s;
            transition: all,0.3s;
        }

.featured__item__text[b-f3huovletr]{
    text-align:center;
    padding-top:15px;
    margin-left:-50px;
}

.featured__item__text h6[b-f3huovletr]{
    margin-bottom:10px;
}

.featured__item__text h6 a[b-f3huovletr]{
    color: #252525;
}

.featured__item__text h5[b-f3huovletr]{
    color:#252525;
    font-weight:700;
}
